@font-face {
    font-family: "Gobold ";
    src: url("Gobold-Regular.otf");
 }
 body{
    font-family: "Gobold ";

 }
 h1{
    color: black;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
}
#wrap{
    width: 1170px;
    margin: auto;
}
.imagens img{
    width: 250px;
    padding: 65px;
    margin: 100px 0px 0px 100;


}